<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <!-- add things that will be reused in here urls, static password etc.-->
    <add key="browser" value="firefox"/>
    <add key="url" value="http://192.168.14.134/evolution/"/>
  </appSettings>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <unitTestProvider name="MSTest"/>
  </specFlow></configuration>